html, body, #app-container, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  background-color: #25282c;
  color: #ddd;
}

#app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#sidedrawer {
  background-color: #343434;
  width: 0;
  overflow: auto;
  z-index: 2;
  transition: all .3s;
  border-right: 1px solid #474747;
}

@media (min-width: 768px) {
  #sidedrawer {
    width: auto;
    min-width: 200px;
  }
}

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

#sidedrawer-brand {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
}

#sidedrawer ul {
  list-style: none;
  padding-left: 0;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

button.mui-btn {
  background-color: #404246;
  color: #ddd;
}

#sidedrawer strong:hover {
  background-color: #404246;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}

#sidedrawer strong.current {
  background-color: #404246;
}

#sidedrawer strong a {
  visibility: hidden;
}

#sidedrawer strong:hover a {
  visibility: visible;
}

#app-main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  transition: all .3s;
}

#content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#content-top {
  padding: 10px;
}

.inline-text-edit {
  padding: 5px;
}

.inline-text-edit .mui-textfield > input {
  margin-right: 15px;
  background-color: #fff;
}

.inline-text-edit .mui-textfield {
  margin: 0;
  padding: 0;
}

.inline-edit-ok {
  margin-left: 10px;
}

.code-editor {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#footer {
  /*height: 50px;*/
  background-color: #0288d1;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}
